wsdl-sdk/src/main/resources/sample/ItemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ItemWebServiceService" targetNamespace="Item_Service" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="Item_Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="Item_Service" version="1.0" xmlns:tns="Item_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="itemName" type="xs:string"/>
      <xs:element name="itemNumber" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="itemDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemNum" type="xs:int"/>
      <xs:element minOccurs="0" name="itemRecord" type="tns:itemRecord"/>
      <xs:element minOccurs="0" name="itemShipping" type="tns:itemShipping"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="itemRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="availability" type="xs:boolean"/>
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="itemName" type="xs:string"/>
      <xs:element minOccurs="0" name="weight" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="itemShipping">
    <xs:sequence>
      <xs:element minOccurs="0" name="days" type="xs:int"/>
      <xs:element minOccurs="0" name="shippingMethod" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="#all" name="itemArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ItemsResponse">
    <wsdl:part name="callBackResult" type="tns:itemArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Items">
  </wsdl:message>
  <wsdl:message name="ItemDetails">
    <wsdl:part name="id" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItemDetailsResponse">
    <wsdl:part name="callBackResult" type="tns:itemDetail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ItemWebService">
    <wsdl:operation name="Items">
      <wsdl:input message="tns:Items" name="Items">
    </wsdl:input>
      <wsdl:output message="tns:ItemsResponse" name="ItemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemDetails">
      <wsdl:input message="tns:ItemDetails" name="ItemDetails">
    </wsdl:input>
      <wsdl:output message="tns:ItemDetailsResponse" name="ItemDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemWebServiceServiceSoapBinding" type="tns:ItemWebService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Items">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="Items">
        <soap:body namespace="Item_Service" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ItemsResponse">
        <soap:body namespace="Item_Service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemDetails">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="ItemDetails">
        <soap:body namespace="Item_Service" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ItemDetailsResponse">
        <soap:body namespace="Item_Service" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemWebServiceService">
    <wsdl:port binding="tns:ItemWebServiceServiceSoapBinding" name="ItemWebServicePort">
      <soap:address location="http://dev.openlegacy.org/WsRpcConnectorExampleService/ItemWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>